<% layout("../bolierPlate/main.ejs") -%>
<%- include('../Components/navbar.ejs') %>
<body>
    <div class="fluid-container">
        </div>
    </div>
</body>
<%- include('../Components/footer.ejs') %>