<body>
    <div class="fluid-container bg-body-tertiary">
        <div class="container">
            <h6>&copy; GoTirp Pvt Lt. All rights Reserved</h6>
           <div class="container">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
           </div>
        </div>
    </div>
</body>